<div *ngIf="product.title"  class="card">
  <div [style]="getStyle()">
      <img class="card-img-top" [src]="product.images[0].url" alt="Card image cap" *ngIf="product.images[0]" alt="{{ product.title }}">                        
  </div>
    <div class="card-body" style="padding: 0;text-align: center;">
        <h4 class="card-title">{{ product.title }}</h4>
        <p class="card-text">&#8358;{{ product.price }}</p>
        <div *ngIf="showActions" class="card-footer">
            <button
            *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
            (click)="addToCart()" 
            class="btn btn-secondary btn-block">Add To Cart</button>   
            <ng-template #updateQuantity>
                <product-quantity [product]="product" [shoppingCart]="shoppingCart"></product-quantity>
            </ng-template>                
        </div>
    </div>
</div>