<div class="list-group centralize">
    <a
    routerLink="/admin/category"
    [class.active]="categoryParams && !categoryParams.category"
    class="list-group-item list-group-item-action">
        Add category
        <span class="badge badge-light" (click)="openCategoryModal()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </span>
    </a>
    
    <div 
    *ngFor="let c of categories$ | async" 
    class="list-group-item list-group-item-action">
        <a
        routerLink="/admin/category"
        [queryParams]="{ category: c.$key}"> 
            {{ c.name }}
            <span class="badge badge-light" (click)="openCategoryModal(c.$key)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </span>
            <span class="badge badge-light" (click)="openSubCategoryModal(c.$key)">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            <span class="badge badge-light" (click)="deleteCategoryA(c.$key)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </span>
        </a>

        <div class="list-group" *ngIf="categoryParams.category == c.$key">
            <a 
            *ngFor="let sub of c.subCategories | keys"
            routerLink="/admin/category"
            [queryParams]="{ category: c.$key, subcategory: sub }"
            class="list-group-item list-group-item-action"
            [class.active]="categoryParams.subcategory === sub">
                {{ sub }}
                <span class="badge badge-light" (click)="openSubCategoryModal(c.$key, sub)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <span class="badge badge-light" (click)="deleteCategoryA(c.$key, sub)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
</div>

<app-edit-category #editCategory ></app-edit-category>
<app-edit-subcategory #editSubCategory ></app-edit-subcategory>
<app-delete-category #deleteCategory></app-delete-category>
