.dropdown-item {
    cursor: pointer;
}
i {
    font-size: 28px;
    float: right;
    position: relative;
    padding-left: 10px;
}
.navbar-icon:hover > i {
    color: #cb9905;
}
.navbar-icon {
    color: #212529 !important;
}
.bg-light {
    background-color: rgba(211, 211, 211, 0.68) !important;
}
button {
    border: 0 none;
    border-radius: 0;
    float: left;
    height: 44px;
    letter-spacing: 0.6px;
    line-height: 44px;
    color: #000;
}
input {
    background-color: #fff;
    border: 0 none;
    border-radius: 0;
    float: left;
    height: 44px;
    letter-spacing: 0.6px;
    line-height: 44px;
    color: #000;
    width: 40% !important;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    text-align: center;
}
input:focus {
    width: 55% !important;
}
.shopping-cart span{
    position: absolute;
    bottom: -11px;
    left: 24px;
    font-size: 14px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    padding: 3px 5px;
}
.dropdown-toggle::after{
    display: none !important;
}
li {
    margin: 0 10px;
}
.navbar-brand img {
    width: 200px;
    margin-top: -10px;
}
.nav-items-c {
    position: absolute;
    right: 0;
}
