nav > div {
    height: 50px;
}
.dropdown-item {
    cursor: pointer;
}
i {
    font-size: 28px;
    float: right;
    position: relative;
    padding-left: 10px;
}
.navbar-icon:hover > i {
    color: #cb9905;
}
.navbar-icon {
    color: #212529 !important;
}
.bg-light {
    background-color: rgba(211, 211, 211, 0.68) !important;
}
button {
    border: 0 none;
    border-radius: 0;
    float: left;
    height: 44px;
    letter-spacing: 0.6px;
    line-height: 44px;
    color: #000;
}
input {
    background-color: #fff;
    border: 0 none;
    border-radius: 0;
    float: left;
    height: 44px;
    letter-spacing: 0.6px;
    line-height: 44px;
    color: #000;
    width: 40% !important;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 18px;
    z-index: 2;
}
input:focus {
    width: 55% !important;
        color: #495057;
        background-color: #fff;
        border-color: none; 
        box-shadow: none;
}
.shopping-cart span{
    position: absolute;
    bottom: -11px;
    left: 24px;
    font-size: 14px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    padding: 3px 5px;
}
.dropdown-toggle::after{
    display: none !important;
}
li {
    margin: 0 10px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0rem;
    margin-right: 0rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand img {
    width: 200px;
    margin-left: -30px;
}
.nav-items-c {
    position: absolute;
    right: 30px;
}
.padTop10 {
    margin-top: 5px;
    margin-left: -8px;
}
#navbarsExampleDefault {
    height: 50px;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .nav-text {
        display: none;
    }
    input {
        left: 52%;
    }
    .navbar-brand img {
        width: 150px;
    }
}

.menu-items {
    top: 65px;
    width: 200px;
    padding: 3px 0 2px;
    border: 1px solid #ddd;
    background-color: #fff;
    position: absolute;
    margin: 0;
    list-style: none;
}
.menu-items>.arrow-border {
    width: 100%;
    height: 28px;
    position: absolute;
    overflow: hidden;
    left: 85px;
    top: -28px;
}
.menu>.menu-items>.arrow-border:before {
    background-color: #d3d3d3;
    top: 22px;
}
.menu-items>.arrow-border:after {
    background-color: #fff;
    top: 23px;
}
.menu-items>.arrow-border:after, .menu>.menu-items>.arrow-border:before {
    content: "";
    width: 40px;
    height: 40px;
    left: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}
.menu-items>.menu-item {
    display: table;
    height: 29px;
    width: 100%;
}
.menu-items>.menu-item>.main-category {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 5px 0 10px;
}
.menu-items>.menu-item>.main-category>.nav-subTxt {
    display: inline-block;
    max-width: 160px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-items>.menu-item>.main-category>.fa {
    display: inline-block;
    right: 20px;
    font-size: 16px;
    line-height: 15px;
    color: #d3d3d3;
    position: absolute;
}
.menu-items .navLayerWrapper {
    width: 211px;
    display: none;
    top: 0;
    left: 199px;
    position: absolute;
    background: #fff;
}
.menu-item:hover>.navLayerWrapper {
    display: block;
}
.menu-items>.navLayerWrapper>.submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.99);
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
}
.submenu>.column {
    float: left;
    width: 180px;
    margin: 5px 15px;
    overflow: hidden;
}
.categories:last-child {
    margin-bottom: 0;
}
.categories {
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 11px;
}
.column>.categories>.category.defaultCursor {
    cursor: pointer;
}
.column>.categories>.category {
    max-width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.categories>.category {
    text-transform: uppercase;
    color: #000;
    height: 26px;
    line-height: 26px;
}
