<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.png" alt="kolekole logo">
      </a>

      <div class="navbar-nav navbar-icon padTop10" (click)="category_toggle = !category_toggle">
        <span class="nav-text">CATEGORY</span>
        <i 
          class="fa" 
          [class.fa-times]="category_toggle" 
          [class.fa-bars]="!category_toggle" 
        aria-hidden="true"></i>

        <ul class="menu-items"  *ngIf="category_toggle && categories">
            <div class="arrow-border"></div>

            <li class="menu-item"  *ngFor="let c of categories">
              <a class="main-category"
                routerLink="/"
                [queryParams]="{ category: c.$key }">

                <span class="nav-subTxt">{{ c.name }}</span>
                <i class="fa fa-angle-right"></i>

              </a>

              <div class="navLayerWrapper">
                <div class="submenu">
                  <div class="column">

                      <div class="categories" *ngFor="let subCat of c.subCategories | keys">
                          <a 
                            routerLink="/"
                            [queryParams]="{ category: c.$key, subCategory: subCat }" 
                          class="category defaultCursor">
                          {{ subCat }}
                          </a>
                      </div>
                      
                  </div>
                </div>
              </div>

            </li>

        </ul>

      </div>

      <div class="navbar-nav navbar-icon">
        <form class="form-inline my-2 my-lg-0">
          <input #search class="form-control mr-sm-2" type="text" placeholder="Search For Products" aria-label="Search" (keyup)="updateQueryParams(search.value)">
        </form>
      </div>

      <ul class="navbar-nav mr-auto nav-items-c">
    
          <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle navbar-icon" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="nav-text">{{ appUser.name }}</span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/orders">Orders</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                <a class="dropdown-item" routerLink="/admin/category">Manage Categories</a>            
              </ng-container>
              <a class="dropdown-item" (click)="logout()">Logout</a>          
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link navbar-icon" routerLink="/cart">
              <span class="nav-text">Cart</span>
              <i class="shopping-cart fa fa-shopping-cart">
                <span 
                  *ngIf="cart$ | async as carts"
                  class="badge badge-warning badge-pill">{{ carts.totalItemCount }}</span>
              </i>
            </a>
          </li>
    
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link navbar-icon" routerLink="/login">
                <span class="nav-text">Login/Register</span>
                <i class="fa fa-sign-in" aria-hidden="true"></i>
              </a>
            </li>
          </ng-template>
    
        </ul>

    </div>
  </div>
</nav>
