<div class="slideshow-container">
  <ngx-carousel
  [inputs]="carouselOne"
  (carouselLoad)="loader($event)">
    <ngx-item NgxCarouselItem>
      <div class="slideshow" style="background: url('http://static3.businessinsider.com/image/58dbde7c77bb7050008b4ae9-1190-625/nasas-1-billion-jupiter-probe-just-sent-back-breathtaking-new-images-of-the-gas-giant.jpg')">
        <div class="call-to-action">
          <p>CALL TO ACTION BUTTON WOULD BE</p>
          <button class="btn">HERE</button>
        </div>
      </div>
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <div class="slideshow" style="background: url('https://www.w3schools.com/css/trolltunga.jpg')">
        <div class="call-to-action">
          <p>CALL TO ACTION BUTTON WOULD BE</p>
          <button class="btn">HERE</button>
        </div>
      </div>
    </ngx-item>
    <ngx-item NgxCarouselItem>
      <div class="slideshow" style="background: url('https://www.sydneyoperahouse.com/content/dam/soh/generic/SOH_InLineImage_59_Caption_1600x900.jpg.image.1800.600.high.jpg')">
        <div class="call-to-action">
          <p>CALL TO ACTION BUTTON WOULD BE</p>
          <button class="btn">HERE</button>
        </div>
      </div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel>
</div>
