<div class="row">
    <!-- <div class="col-3">
        <product-filter [categoryParams]="categoryParams"></product-filter>
    </div> -->
    <div class="row" *ngIf="cart$ | async as cart">
        <ng-container *ngFor="let p of filteredProducts; let i = index">
            <div class="col check-heigth" style="margin-bottom: 20px; min-width: 270px">
                <product-card [product]="p" [shoppingCart]="cart"></product-card>
            </div>
            <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
        </ng-container>
    </div>
</div>
